<div class="flex p-3 mt-3" style="height: 90vh;">

  <%= month_calendar(events: @bills, attribute: :due_date) do |date, bills| %>
    <div class="day-number"><%= date.day %></div>
    <% if bills.size > 0 %>
      <div><%= bills.size %></div>
    <% end %>
<!--
    <% bills.each do |bill| %>
      <div class="bill-item">
        <span><%= bill.name %></span>
        <span><%= number_to_currency(bill.amount) %></span>
      </div>
    <% end %>
-->
  <% end %>

  <div class="d-flex flex-row w-100 justify-content-between p-4">
    <div>
      <h4>Due this month:</h4>
      <% @due_this_month.each do |bill| %>
        <div class="bill-card mb-2 p-3 border rounded shadow-sm">
          <div class="d-flex justify-content-between align-items-center">
            <p><strong><%= bill.name %></strong>
            <span class="badge bg-secondary ms-2"><%= bill.category %></span>
            <div class="fw-bold">
               ¥<%= bill.amount %></p>
            </div>
          </div>
        </div>
      <% end %>
      <h3>Total: ¥<%= @due_this_month.sum { |bill| bill.amount } %></h3>
    </div>
  </div>
</div>
