<h1><%= @bill.name %></h1>
<p><%= @bill.description %></p>
<p>Amount: ¥<%= @bill.amount %></p>
<p>Category: <%= @bill.category %></p>
<p>Due: <%= @bill.due_date %></p>

<%= link_to "Back to all bills", bills_path %>
<%= link_to "Edit", edit_bill_path(@bill) %>
<%= button_to "Ask Billy about this bill", chats_path(bill_id: @bill.id), method: :post, class: "btn-app-primary" %>
<%= link_to "Delete", bill_path(@bill), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>

<button
  data-controller="share"
  data-share-title-value="<%= @bill.name %>"
  data-share-text-value="Check out this bill: <%= @bill.name %>"
  data-share-url-value="<%= bill_url(@bill) %>"
  data-action="share#share">
  Share this bill
</button>
